body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  
  #container {
    margin: auto;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  #progress {
    position: fixed;
    height: 20%;
    width: 30%;
    top: 40%;
    left: 35%;
    text-align: center;
  }
  
  .progressBarText {
    font-size: 14px;
    color: #8A8A8A;
  }
  
  .bottomSpaced {
    margin-bottom: 24px;
  }
  
  .mdc-linear-progress__bar-inner {
    background-color: #0877C8 !important;
  }
  
  #userPopupContainer {
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-style: normal;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #userPopupContainer .pageIconContainer {
    padding-top: 30px;
  }
  
  #userPopupFooterContainer {
    padding: 20px 5px 0 5px;
    align-items: flex-end;
  }
  
  #userPopupMainContainer {
    flex: 1 0 auto;
    width: 80%;
    margin: auto;
  }
  
  #userPopupButtonContainer {
    padding-bottom: 20px;
    margin: 0 auto 0 auto;
  }
  
  #userPopupButtonContainer .mdc-button--raised {
    background-color: rgb(51, 119, 184) !important;
  }
  
  #userPopupButtonContainer .mdc-button {
    padding: 0 40px 0 40px;
  }
  
  #userPopupTitle {
    font-weight: 700;
    margin: 5%;
  }
  
  #button2 span {
    color: rgb(51, 119, 184) !important;
  }

td.prop-val {
    word-break: break-all;
}

.content-main {
    margin: 10px;
}
  
